@page
@model IndexModel
@{
    ViewData["Title"] = "Camel";
}

<div style="width: 800px">
    @* <img src="img/egor.jpg" alt="egor" width="80"> *@
    @* <div role="tooltip" style="width: 250px; margin-bottom: 12px;">Literally the best server ever. -Egor</div> *@

    <h3>Welcome to camel</h3>
    <p>Camel is a work in progress private server for the game osu!</p>
    <ul>
        <li><strong>Registered users:</strong> @Model.TotalUsers.ToString("N0")</li>
        <li><strong>Submitted scores:</strong> @Model.TotalScores.ToString("N0")</li>
    </ul>
</div>

<div>
    <h4>Global rankings</h4>
    <table>
        <thead class="table-head">
        <th>#</th>
        <th>Name</th>
        <th>pp</th>
        <th>Accuracy</th>
        <th>Play count</th>
        </thead>
        <tbody>
        @foreach (var entry in Model.RankingEntries)
        {
        <tr>
            <td>@entry.Rank.ToString("N0")</td>
            <td>
                <a asp-page="/users/index" asp-route-userId="@entry.UserId">
                    @entry.UserName
                </a>
            </td>
            <td>@entry.Pp.ToString("N0")</td>
            <td>@entry.Accuracy.ToString("F2")%</td>
            <td>@entry.Plays.ToString("N0")</td>
        </tr>
        }
        </tbody>
    </table>
</div>
