@page
@model Camel.Web.Pages.Leaderboards.Index

@{
}

<div style="width: 800px">
    <h4>@Model.ModeName rankings</h4>
    
    <table>
        <thead class="table-head">
        <th>#</th>
        <th>Name</th>
        <th>pp</th>
        <th>Accuracy</th>
        <th>Play count</th>
        </thead>
        <tbody>
        @foreach (var entry in Model.RankingEntries)
        {
            <tr>
                <td>@entry.Rank.ToString("N0")</td>
                <td>
                    <a asp-page="/users/index" asp-route-userId="@entry.UserId">
                        @entry.UserName
                    </a>
                </td>
                <td>@entry.Pp.ToString("N0")</td>
                <td>@entry.Accuracy.ToString("F2")%</td>
                <td>@entry.Plays.ToString("N0")</td>
            </tr>
        }
        </tbody>
    </table>
</div>