@page "{beatmapId:int}"
@using Humanizer
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Index

@{
}

<div style="width: 1024px;">
    <h3>@Model.Beatmap.Artist - @Model.Beatmap.Title [@Model.Beatmap.Version] by @Model.Beatmap.Creator</h3>


    <table style="width: 200px">
        <tbody>
        <tr>
            <th>BPM</th>
            <td>@Model.Beatmap.Bpm.ToString("N0")</td>
        </tr>
        <tr>
            <th>CS</th>
            <td>@Model.Beatmap.CircleSize.ToString("F1")</td>
        </tr>
        <tr>
            <th>AR</th>
            <td>@Model.Beatmap.ApproachRate.ToString("F1")</td>
        </tr>
        <tr>
            <th>OD</th>
            <td>@Model.Beatmap.OverallDifficulty.ToString("F1")</td>
        </tr>
        <tr>
            <th>HP</th>
            <td>@Model.Beatmap.HpDrain.ToString("F1")</td>
        </tr>
        <tr>
            <th>Stars</th>
            <td>@Model.Beatmap.StarRate.ToString("F2")</td>
        </tr>
        </tbody>
    </table>

    <form style="margin: 16px 0 16px">
        <button formaction="@Model.OsuUrl" formtarget="_blank">osu! website</button>
    </form>

    <table>
        <thead class="table-head">
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Pp</th>
            <th>Grade</th>
            <th>Score</th>
            <th>Accuracy</th>
            <th>Max Combo</th>
            <th>300</th>
            <th>100</th>
            <th>50</th>
            <th>Miss</th>
            <th>Time</th>
            <th>Mods</th>
            <th>osu!version</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var (score, place) in Model.Scores.Select((s, i) => (s, i + 1)))
        {
            <tr>
                <td>@place</td>
                <td>
                    <a asp-page="/users/index" asp-route-userId="@score.UserId">
                        @score.UserName
                    </a>
                </td>
                <td>@score.Pp.ToString("N0")</td>
                <td>@score.Grade</td>
                <td>@score.ScoreNum.ToString("N0")</td>
                <td>@score.Accuracy.ToString("F2")%</td>
                <td>@score.MaxCombo.ToString("N0")</td>
                <td>@score.Count300.ToString("N0")</td>
                <td>@score.Count100.ToString("N0")</td>
                <td>@score.Count50.ToString("N0")</td>
                <td>@score.CountMiss.ToString("N0")</td>
                <td title="@score.SetAt">@score.SetAt.Humanize()</td>
                <td>@ModsHelper.GetModsString(score.Mods)</td>
                <td>@score.OsuVersion</td>
            </tr>
        }
        </tbody>
    </table>
</div>